@font-face {
  font-family: lovely;
  src: url("./fonts/PublicSans-VariableFont_wght.ttf");
}
* {
  font-family: lovely, sans-serif;
}
body {
  margin: 0;
  background-image: url("./images/bg-tablet-pattern.svg"),
    url("./images/bg-tablet-pattern.svg");
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-position-x: -30vw, 65vw;
  background-position-y: 100vh, -40vh;
  overflow-x: hidden;
}
.header {
  /* border: 2px solid blue; */
  padding-left: 10em;
  /* display: flex; */
  /* justify-content: s; */
}
.header-item {
  list-style: none;
}
.header-items {
  /* border: 2px solid red; */
  display: inline-block;
  margin-right: 2em;
}
#header-pic {
  position: relative;
  top: 0.35em;
}
.header-manage {
  /* border: 2px solid green; */
  margin-right: 7em;
  font-size: 2em;
  height: 1em;
}
.header-get-started {
  /* border: 2px solid brown; */
  margin-left: 13em;
  padding: 0.8em 1.5em;
  border-radius: 3em;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  -webkit-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
  box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
}
.header-get-started:hover {
  cursor: pointer;
}
.header-items:active {
  /* color: hsl(0, 0%, 98%); */
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
}
.header-items:hover {
  cursor: pointer;
}
.header-get-started:active {
  /* color: hsla(0, 0%, 98%,.5); */
  /* color: hsl(0, 0%, 98%); */
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.c1 {
  margin-top: 10%;
  margin-left: -2%;
  /* border: 2px solid green; */
  /* width: 27%; */
  position: relative;
  left: 15%;
}
.c1-first {
  color: hsl(228, 39%, 23%);
  width: 30%;
  font-size: 3em;
  font-weight: 800;
  /* border: 1px solid red; */
}
.c1-second {
  width: 22%;
  margin-top: 2%;
  margin-left: 0.2%;
  color: hsl(227, 12%, 61%);
}
.c1-third {
  /* border: 2px solid blue; */
  margin-top: 2.5em;
}
.c1-third a {
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  background-color: hsl(12, 88%, 59%);
  border-radius: 3em;
  padding: 0.8em 1.5em;
  -webkit-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
  box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
}
.c1-third a:active {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.c1-wrapper-second {
  position: relative;
  top: -50vh;
  left: 40vw;
}
.c1-wrapper-second img {
  /* width: 20vw; */
  height: 65vh;
}
.c2 {
  display: flex;
  position: relative;
  bottom: 40vh;
  /* width: 50%; */
}
.c2-wrapper-first {
  /* border: 2px solid red; */
  width: 28%;
  position: relative;
  left: 12vw;
}
.c2-wrapper-second {
  /* border: solid; */
  position: relative;
  left: 32vw;
  top: -2vh;
  /* width: 40%; */
}
.c2-wrapper-second-item h2 {
  font-size: 1em;
  color: hsl(228, 39%, 23%);
}
.c2-wrapper-second-item p {
  line-height: 1.5em;
  color: hsl(227, 12%, 61%);
}
.c2-wrapper-first h1 {
  color: hsl(228, 39%, 23%);
  font-size: 2.3em;
  /* font-size: .3em; */
}
.c2-wrapper-first p {
  color: hsl(227, 12%, 61%);
  line-height: 1.5em;
  /* font-size: 1em; */
}
.c2-wrapper-second-index {
  border-radius: 4em;
  /* border: 2px solid red; */
  background-color: hsl(12, 88%, 59%);
  color: white;
  width: fit-content;
  padding: 0.5em 1.5em;
  position: relative;
  top: 5.7vh;
  left: -6vw;
}
.c3 {
  /* border: 2px solid red; */
  position: relative;
  top: -25vh;
  text-align: center;
  font-size: larger;
  color: hsl(228, 39%, 23%);
}
.c3 h1 {
  /* color: red; */
  margin-bottom: 1.2em;
}
.c3-card {
  /* display: flex; */
  /* border: 2px solid green; */
  height: 40vh;
  justify-content: space-between;
}
.c3-button {
  border: 2px solid red;
  margin: auto;
  /* margin-top: 10vh; */
  font-size: 0.7em;
  width: 6vw;
  padding: 0.9em 1.5em;
  border-radius: 3em;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  -webkit-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
  -moz-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
  box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
}
.c3-button:active {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.c3-button:hover {
  cursor: pointer;
}
.special {
  position: relative;
  /* display: inline-block; */
  display: none;
  top: -27.5vh;
}
#next {
  height: 7vh;
  width: 2vw;
  position: relative;
  top: -30vh;
  left: 48vw;
  /* border: solid red;
   background-color: aqua; */
}
#prev {
  /* border: solid red;
    background-color: aqua; */
  height: 5vh;
  width: 2vw;
  position: relative;
  top: -36vh;
  left: -48vw;
}
.c4 {
  height: 20vh;
  /* border: 2px solid red; */
  position: relative;
  top: -15vh;
  padding: 2em;
  background-color: hsl(12, 88%, 59%);
  color: white;
  overflow: hidden;
  /* background-image: url("./images/bg-tablet-pattern.svg"); */
  /* opacity: .2; */
  /* z-index: -1; */
}
.c4::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("./images/bg-tablet-pattern.svg"),url("./images/bg-tablet-pattern.svg");
  background-repeat: repeat-y;
  background-position: 60em -90em,-30em -10em;
  background-size: cover;
}
.c4 p {
  /* border: 2px solid green; */
  position: relative;
  /* z-index: 100; */
  font-size: 2em;
  font-weight: bold;
  padding-left: 3em;
}
.c4 button {
  border: transparent;
  padding: 0.8em 1.5em;
  font-weight: bolder;
  border-radius: 3em;
  color: hsl(12, 88%, 59%);
  background-color: hsl(0, 0%, 98%);
  margin-left: 60vw;
  position: relative;
  top: -3.5vh;
  /* -webkit-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);
    box-shadow: 0px 5px 23px 0px rgba(250, 184, 130, 1);   */
}
.footer{
  display: flex;
  margin-top: -15vh;
  background-color: hsl(233, 12%, 13%);
}
#footer-first{
  height: 20vh;
  padding: 5vh;
  margin-left: 15vh;
  margin-top: 2vh;
}
#footer-first a{
  margin-right: .5em;
  overflow: hidden;
  /* border: 2px solid red; */
}
#footer-first a img{
  position: relative;
  top: .2em;
  /* margin-top: 1em; */
  /* border: solid white; */
}
#footer-first a:hover{
  cursor: pointer;
}
#footer-first-img{
  margin-bottom: 10vh;
  color: white;
}
#footer-first-img:hover{
  cursor: pointer;
}